body{
    font-size:14px;
}
a:hover{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    margin-bottom: 0;
}
input:focus, button:focus,textarea:focus{
    outline:none;
}

.app-buttons{
    margin-bottom: 24px;
}
.img-btn{
    width: 18px;
    height: 18px;
}
img{
    cursor:pointer;
}
.app-buttons-item{
    background: #F9F9F9;
    border-radius: 5px;
    padding:10px 15px;
    border:none;
    color: #606877;
    font-size: 14px;
    margin-right: 7px;
    display: inline-flex;
    align-items: center;
    transition: .3s;
    box-sizing: border-box;
}
.app-buttons-item:hover{
    background: #E9ECFF;
}
.app-buttons-item:last-child{
    margin-right: 0;
}
.app-buttons-item:focus{
    outline:none;
}
.app-buttons-item img{
    margin-right: 10px;
}
.route-name{
    font-weight: 600;
    font-size: 24px;
    margin: 0;
}

/*=====================DropDown=========================*/
.dropdown-menu{
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    box-sizing: border-box;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    padding: 0;
}
.dropdown-menu li{
    border-top:none;
    border-left:none;
    border-right:none;
    padding:6px 10px;
    border-bottom:1px solid #e8e8e8;
    cursor:pointer;
    font-size: 14px;
    color: #949494;
}
.dropdown-menu li:last-child{
    border-bottom: none;
}
.dropdown-menu li:hover{
    background: #e8e8e8;
    transition: .3s;
}

.dropleft .dropdown-toggle:before{
    display: none;
}


.dropdown-toggle::after{
    display: none;
}

.dropdown-toggle{
    cursor:pointer;
}
.dropMenu{
    width: 30px;
    display: flex;
    align-items: center;
    height: 30px;
    padding:5px;

}
.dropMenu:hover .three-dots{
    filter: brightness(0.5);
    transition: .3s;



}
/*=======================END OF DROPDOWN*/


/*======================Main Content=============*/
.main-content-header{
    border-bottom:1px solid #e8e8e8;
    color: #787878;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 20px;
}

.table-item{
    padding:10px 10px;
    border-bottom: 1px solid #e8e8e8;
}
.table-child{
    padding-right:10px;
}
.table-item .custom-checkbox{
    margin-right: 20px;
}
.table-item:hover{
    background: #F8F9FF;
    transition:.3s;
}
.table-img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    flex:0 0 auto;
}
.table-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}
.table-link:hover{
    cursor: pointer;
    color:#222;
    transition: .3s;
}
.date-pol.active,.total-pol.active {
    filter: invert(44%) sepia(96%) saturate(2719%) hue-rotate(219deg) brightness(96%) contrast(100%);
    transform: rotate(180deg);
}

.table-content{
    overflow-y: auto;
    height:calc(100vh - 351px);
}
.table-head{
    list-style: none;
}
.table-head .custom-checkbox{
    margin-right: 20px;
}
.circle-status{
    font-size: 8px;
    margin-right: 5px;
}
.status{
    display: flex;
    align-items: center;
}
/*=================end of Main Content*/

/*============Search=================*/
.searchAndButtons{
    margin-bottom: 25px;
}
.main-input{
    border:none;
    height: 100%;
    width: 100%;
}
.main-search{
    border:1px solid #E3E3E3;
    border-radius:5px;
    padding:0 10px;
    height: 40px;
}
.main-search img{
    opacity:0.3;
    margin-right: 10px;

}
.main-input:focus{
    outline:none
}
.custom-checkbox{
    width: 13px;
    height: 12px;
    cursor:pointer;



}
.custom-checkbox .checkmark{
    height:100%;
    width: 100%;
    border: 1px solid #ADADAD;
    box-sizing: border-box;
    border-radius: 3px;
    display: inline-block;
    transition: .2s;

}
.custom-checkbox input:checked + .checkmark{
    background: #616CF5;
    border: 1px solid #616CF5;

}
.custom-checkbox input{
    display: none;
}

/*========Switcher design=================*/
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 21px;
    margin-right: 10px;
    margin-bottom: 0;

}
.enable{
    color: #B0B0B0;
    font-size: 16px;
    margin-left: 50px;
    transition: .3s;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d3d3d3;
    -webkit-transition: .4s;
    transition: .4s;
}


.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 17px;
    left: 3px;
    bottom: 2.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #616CF5;


}
input:checked + .slider .enable {
    color:#000;
    transition: .4s;


}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(17px);
}
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 0;
}
/*input[type="date"] {*/
/*    background:url('../../assets/icons/Calendar.svg')  97% 50% no-repeat ;*/
/*    cursor:pointer;*/
/*    border-color:transparent;*/
/*}*/



/*=========================END of Switcher*/

/*=====================Loyalty page's general styles=========================*/
.cashback-title{
    font-size: 20px;
    color:#222;
    font-weight:600;
    margin-bottom: 0;
}
.enable-title{
    margin-bottom: 5px;
}
.cashback-description{
    font-size: 16px;
    color: #B0B0B0;
    margin-bottom: 10px;
}
.cashback-sub-title{
    font-size: 16px;
    font-weight: 600;
    color:#222;
    margin-bottom: 3px;

}
.cashback-input{
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    height:45px;
    padding-left:10px;
}
.save{
    background: #616CF5;
    border-radius: 5px;
    color:#fff;
    height:37px;
    display: flex;
    align-items: center;
    padding:0 20px;
    font-size: 16px;
    transition: .3s;
    border:none;
    justify-content: center;
}
.save:hover{
    background: #3B4DB3;
}
.remove{
    color:#D81919;
    border-radius: 5px;
    height:37px;
    font-size: 16px;
    border: 1px solid #D81919;
    background: none;
    display: flex;
    padding:0 20px;
    align-items: center;justify-content: center;
}
.cancel{
    border: 1px solid #D3D3D3;
    box-sizing: border-box;
    border-radius: 5px;
    height:37px;
    font-size: 16px;
    color: #8C94A5;
    background: #fff;
    transition: .3s;
    display: flex;
    padding:0 20px;
    align-items: center;justify-content: center;
    margin-right: 10px;
}
.cancel:hover{
    border: 1px solid #676C78;
    color: #676C78;
}
.marginBottom{
    margin-bottom: 20px;
}
.cashback-text-area{
    width: 100%;
    height:86px;
    border: 1px solid #E3E3E3;
    border-radius: 5px;
    padding:10px;
    resize: none;

}
.sum-point{
    margin-bottom:8px;
    color:#222;
}
.color-p{
    color:#222;
}
.cash-btn{
    border-radius: 5px;
    height: 45px;
    border: 1px solid #616CF5;
    width: 45px;
    background: none;
}
.form-control{
    height: 45px;
    font-size: 16px;
    color: #767676;
    background: url('../../assets/icons/select.svg' ) no-repeat;
    -webkit-appearance: none;
    background-position-x: 90%;
    background-position-y: 19px;
}
.long-form-control{

    background-position-x: 95%;

}

.form-control:focus{
    box-shadow: none;
    border-color:#e3e3e3;
}
.general-area{
    border: 1px solid #E3E3E3;
    border-radius: 5px;
    padding-left:10px;
    width:100%;
    resize: none;
    height: 125px;
}
/*=============================Login and register style =======================*/
.login-input{
    width: 100%;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    height: 40px;
    padding:0 10px;
    margin-bottom: 13px;
}

.show-eye{
    display: none;
}
#show-eye{
    display: none;
}
.main-logo{
    width: 49px;
    height: 53px;
}
.authorization{
    background: #FAFAFA;
    width: 100%;
    min-height: 100vh;
    padding:23px 44px;
}
.sign-in-header{
    margin-bottom: 30px;
}
.password .login-input{
    border:none;
    margin-bottom: 0;
    height:100%;
    width: 100%;
}
.password{
    width: 100%;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    height: 40px;
    padding-right:10px;
    margin-bottom: 13px;
}
.password img{
    width: 20px;
    height: 20px;
    opacity: 0.7;
}
.sign-in-btn{
    width: 100%;
    background: #616CF5;
    border-radius: 5px;
    height: 50px;
    border:none;
    color:#fff;
    font-size: 18px;
    font-weight: 500;
}

.footer-text{
    margin:0 auto;
    text-align: center;
    color: #B0B0B0;
    font-size: 14px;
    width: 480px;
}
/*===================Modal=====================*/

.myModal-body{
    padding:0 57px;
}
.modal-content .modal-header{
    border-bottom: none;
    padding:27px 50px;

}
.myModal-content{
    border:none;
    border-radius: 0;
    overflow-y: auto;
    padding-bottom:30px;
    -moz-padding-bottom: 50px;
}

.swal2-styled.swal2-confirm{
    background: red;
}
.modal-btn .save{
    margin-right: 10px;
}
.modal-btn .save, .modal-btn .cancel, .modal-btn-remove{
    width: 120px;
}

.modal-title{
    color: #616CF5;
    font-size: 21px;
    font-weight: 600;
}


/*==================Sweet alert modal styles==================*/

.confirm-btn, .cancel-btn{
    padding:10px 40px;
    border-radius:5px;
    border:none;
    font-weight:normal;
    font-size: 16px;
}
.confirm-btn{
    background: #D81919;
    color:#fff;
    margin-right: 10px;
}
.cancel-btn{
    border: 1px solid #8C94A5;
    color: #8C94A5;
    background: #fff;
}
.confirm-btn:hover{
    background: #BD1010;
}
.cancel-btn:hover{
    border: 1px solid #676C78;
    color:#676c78;
}
.btn-group{
    padding:0;
    justify-content: flex-start;
}
.swal2-content.content-sweet{
    padding: 0;
    text-align:left;
    margin-bottom: 20px;
    color: #8C94A5;
}
.swal2-popup.sweet-delete{
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    width: 24%;
    padding:20px;
    animation-duration: .7s;

}
.swal2-actions.btn-group{
    justify-content: flex-start;
    padding: 0;
}

.swal2-popup.success-popup{
    background: #5CBD85;
    border-radius: 13px;
    padding: 20px 10px;
    width: 385px;
    animation-duration: .5s;
}
.swal2-content.success-content{
    color:#fff;
    text-align: left;
    font-size: 14px;
}
.swal2-title.success-title{
    color:#fff;
    text-align: left;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 20px;
}
.swal2-header.success-header{
    align-items: flex-start;
    padding-left: 20px;


}
.swal2-image.success.img{
    position: absolute;
    left: 0;
    top: 0;
    display: block;

}
.swal2-popup.information-popup{
    background: #616CF5;
}
.swal2-popup.warning-popup{
    background: #FDB62E;
}
.close-btn{
    outline:none;
    box-shadow: none;
}

/*===============Pagination Style====================*/
.pagination-select{
    width: 40px;
    border:none
}
.prevBtn{
    transform: rotate(180deg);
}
.pagination{
    height: 90px;
    color: #8C94A5;
}
.pagination-btns{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

/*===========================Clients Styles=================================*/

.bonus-notification{
    background: #F8F9FF;
    border-radius: 7px;
    padding: 20px;
    margin-bottom: 80px;
}
.bonus-span{
    font-size: 18px;
    color:#616cf5;
    font-weight: 600;
    margin-bottom: 8px;
    display: inline-block;
}

.price{
    font-size: 16px;
    font-weight: normal;
    margin: 20px 0;
}
.line{
    border-bottom: 1px solid #E4E4E4;
    width: 100%;
    height: 0;
    margin-bottom: 23px;
}
.catalog-btn{
    background: #616CF5;
    color:#fff;
    border:none;
    padding:8px 18px;
    font-size: 16px;
    border-radius:5px;
    margin-bottom: 100px;
}
.catalog-btn:hover{
    background: #3B4DB3;
    transition:0.3s;
}
.catalog-btn a{
    color:#fff;
    font-weight: 600;

}
.catalog-btn a:hover{
    color:#fff;
    text-decoration: none;

}
.slick-prev:before {
    content: '-';
    padding: 0 20px;
    background: url('../../assets/clients/slide.svg') no-repeat;

}
.slick-list, .slick-track, .slick-slide div{
    height: 100%;
}

.slick-next:before {
    content: '-';
    padding:0 20px;
    background: url('../../assets/clients/slideRight.svg') no-repeat;
}
.slick-slide img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.slider-item {
    height: 120px;
}

.multiple-items{
  margin: 60px 80px;
}
.client-table-header{
    display: flex;
    margin-bottom: 20px;
}

.client-table-head{
    color: #8C94A5;
    font-size: 14px;
}
.slick-slide:focus{
    outline:none;
}
.slick-list{
    padding: 0 !important;
}
.slick-slide .slider-item{
    height: 130px;
}
.decrease,.increase{
    border: 1px solid #8C94A5;
    border-radius: 5.54945px;
    width: 26px;
    height: 26px;
    background: none;
    color:#8C94A5;
    margin-bottom: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.count{

    width: 40px;
    display: inline-block;
    text-align: center;
}

.client-paragraph {
    color: #606877;
    font-size: 16px;
    margin-bottom: 50px;
}
.path-img{
    margin-right: 8px;
}
.show-path{
    font-weight: normal;
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    cursor:pointer;
}
.show-path span{
    margin-left: 8px;
    color: #B0B0B0;
}
.path-title{
    font-size: 20px;
    font-weight: 700;
}
.path-box{
    margin-bottom: 55px;
    cursor:pointer;
}


/*=========================Input slider in catalog======================*/
.irs--flat {
    margin-bottom: 30px;
}
.irs--flat .irs-handle {
    top: 17px;
    width: 18px;
    height: 18px;
    background: white;
    border: 3px solid #616CF5;
    border-radius: 18px;
}
.irs--flat .irs-handle>i:first-child{
    background: none;
}
.irs--flat .irs-handle.state_hover>i:first-child, .irs--flat .irs-handle:hover>i:first-child {
    background: none;
}
.irs--flat .irs-bar {
    top: 25px;
    height: 3px;
    background-color: #616cf5;
}
.irs--flat .irs-line {
    top: 25px;
    height: 3px;
    background-color: #e1e4e9;
    border-radius: 4px;
}
.irs-from, .irs-to, .irs-single {
    top: -20px;
 }
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
    color: white;
    font-size: 12px;
    padding: 7px 10px;
    background-color: #616cf5;
 }
.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
    border-top-color: #616cf5;
}
.irs--flat .irs-min, .irs--flat .irs-max {

    display: none;
}
.nav-tabs{
    border-bottom: none;
}
/*========================= End Input slider in catalog======================*/


/*=======================Мелочные общие  стили =============================== */



.btns-item{
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    background: none;
    margin-right: 10px;
    display: flex;
    align-items: center;
    padding:0 10px;
    cursor:pointer;
    transition: .3s;
}
.personal-btns{
    margin-bottom: 21px;
    display: flex;
}

.btn-round{
    border: 1px solid #D3D3D3;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    border-radius:50%;
    display: inline-block;
    margin-right: 10px;
}
.btns-item.active{
    border-color:#616CF5;

}
.btns-item.active .btn-round{
    background: #616CF5;
    border:none;
}
.on-map{
    font-size: 16px;
    color:#616cf5;
    font-weight: 600;
}
.map-box{
    margin-bottom: 56px;
}

.general-dropdown{
    background: #FFFFFF;
    box-shadow: 2px 11px 35px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    right: 0;
    width: 18rem;
    transform: translate3d(-118px, -5px, 0px) !important;
    top: 50px !important;
}
.drop-title{
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 15px;
}
.drop-input:first-child{
    width: 65%;
}
.drop-input{
    border: 1px solid #E3E3E3;
    border-radius: 5px;
    height:30px;
    padding-left:10px;
    width: 100%;
    font-size:14px;
    margin-bottom: 20px;
    color: #767676;

}
.adding-btns{
    background: #E9ECFF;
    color:#616CF5;
}
.dropzone .dz-message{
    margin: 0 !important;
}
.dropzone.dz-drag-hover  {
    border:1px dashed #8C94A5 !important;
}
.dropzone.dz-started{
    border:none !important;

}
.dropzone.dz-started .uplimg{
    display: none;
}
.dropzone .dz-preview {
    border-radius:5px !important;
    position: relative;
     display: block !important;
     margin: 0 !important;
     min-height: 100% !important;
}
.dropzone .dz-preview.dz-processing{
    background: #e9f2f3 !important;
}
.dropzone .dz-preview.dz-processing:before{
    content:'Completed...';
    color:#616cf5;
    position: absolute;
    top:25%;
    left:42%;
}
.dropzone .dz-preview.dz-processing .dz-details .dz-size{
    display:none;
}

.dropzone .dz-preview.dz-processing .dz-details .dz-filename span{
    background: none;
}
.dropzone .dz-preview .dz-details .dz-filename:hover span{
    border:none !important;
    background: none !important;
}
.dropzone .dz-preview.dz-processing .dz-details {
     position: absolute;
    color:#616cf5;
    top:45%;
}
.dropzone .dz-preview.dz-error{
    height:100%;
    background: #FAEDEB !important;
}
.dropzone .dz-preview.dz-error .dz-details{
    display: none;
}
.dropzone .dz-preview.dz-error:before{
    content: url("../../assets/icons/exportError.svg");
    width:40px;
    height: 40px;
    position: absolute;
    left:50% !important;
    margin-left: -20px;
    top:25%;

}

.dropzone .dz-preview.dz-error:after{
    content: 'Error';
    color:#D81919;
    position: absolute;
    top:55%;
    left:47% !important;
}

.dropzone .dz-preview .dz-image{
    display: none !important;
}
.dropzone .dz-preview .dz-remove{
    position: absolute;
    bottom:-61px;
    right:100px;
    color: #8C94A5;
    padding: 7px 20px;
    border:1px solid #8C94A5 !important;
    border-radius: 5px;
}
.dropzone .dz-preview .dz-remove:hover{
    text-decoration: none !important;
}
.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark{
    display:none !important;
}
.dropzone .dz-preview .dz-progress {
    height: 7px !important;
    left: 20% !important;
    width: 80% !important;
    background: rgba(146, 168, 228, 0.25) !important;

}
.dropzone .dz-preview .dz-progress .dz-upload{
    background: #616CF5 !important;
}
.dropzone .dz-preview.dz-error .dz-error-message {
    display: none !important;
}

.calendar{
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    height:45px;
    padding:0 20px;
    width: 100%;
    margin-bottom: 35px;
}
.calendar-input{
    width: 100%;
    height: 100%;
    border:none;
}
.empty-page-text{
    color:#8C94A5;
}
.empty-box{
    position: absolute;
    left:55%;
    top:55%;
}
.reload-code{
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    height:45px;
    padding:0 5px;
    margin-right: 13px;
    margin-bottom: 38px;
}
.reload-code input, .calendar-period input{
    border:none;
    width: 100%;
    height: 100%;
}
.notification-header{
    height: 100px;
    display: flex;
    align-items:center;
}
.notification-header h3{
    color:#616cf5;
    font-weight: 600;
    font-size: 21px;
}
/*=====================Centered Standart Modal============================*/
.category-content{
    border:0;
    width: 562px;
    margin-top: 30%;
    border-radius:5px
}
.parent-modal{
    display: flex;
}
.category-body{
    padding: 0 50px;
    padding-bottom: 34px;
}
.category-header{
    padding:34px 50px;
}
/*==================Radio Button====================*/


.radio-toolbar {
    display: flex;
    align-items: center;
    margin-bottom: 80px;

}


.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 10px;
    width: 13px;
    height: 13px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 3px
}
.radio-toolbar input[type="radio"]:checked + label {
    background-color: #616cf5;
    border:none;

}

.catalog-list:hover{
    background: #EBEEFF;
    color: #616CF5;
    cursor:pointer;
}
.catalog-list.active{
    background: #EBEEFF;
    color: #616CF5;
}
.catalog-list img{
    width: 15px;
    height: 15px;
}